<!--  For Guest -->
<!-- Slider -->
	
	<div id="bzns-slider" class="carousel slide" data-ride="carousel" ng-if="!main.loggedIn">
	  <!-- Indicators
	  <ol class="carousel-indicators">
	    <li data-target="#bzns-slider" data-slide-to="0" class="active"></li>
	    <li data-target="#bzns-slider" data-slide-to="1"></li>
	    <li data-target="#bzns-slider" data-slide-to="2"></li>
	  </ol>
	  -->

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="app/views/assets/img/dummy/kfc-profile-img.png" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<img class="stars" src="app/views/assets/img/dummy/stars.png">
		      		<span>3.5/5 <span>100,234,781 Reviews</span></span>
		      		<h3>KFC <span>Chowk chuburji Nazd Umer Burger Lahore</span></h3>
		      		<p>
		      			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      			consequat. Duis aute irure dolor.
		      		</p>
		      	</div>
	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="app/views/assets/img/dummy/burger-king.jpg" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<img class="stars" src="app/views/assets/img/dummy/stars.png">
		      		<span>3.5/5 <span>100,234,781 Reviews</span></span>
		      		<h3>Burger King <span>Anarkali bazar Lahore</span></h3>
		      		<p>
		      			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      			quis nostrud exercitation ullamco laboris.
		      		</p>
		      	</div>
	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="app/views/assets/img/dummy/shaukat-khanam.jpg" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<img class="stars" src="app/views/assets/img/dummy/stars.png">
		      		<span>3.5/5 <span>100,234,781 Reviews</span></span>
		      		<h3>Shoukat Khanam Cancer Hospital <span>Raiwind Road Lahore</span></h3>
		      		<p>
		      			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      			quis nostrud exercitation ullamco laboris.
		      		</p>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#bzns-slider" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#bzns-slider" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<!-- / Slider -->



		<!-- Find Business -->
	<div id="find-bzns-inp" class="row" ng-if="!main.loggedIn">
		<div class="input-group col-md-8 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="type name of business to find">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Find!</button>
	      </span>
	    </div><!-- /input-group -->
	</div>
	<!-- /Find Business -->

	<!-- Registration area -->
	<div id="reg-area" ng-if="!main.loggedIn">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div>
						<h2>REGISTER YOUR BUSINESS NOW</h2>
						<p>Let People Decide Standards</p>
						<button class="btn btn-reg " id="registerBtn">REGISTER</button>
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<h2>SHARE YOUR EXPERIENCES</h2>
						<p>Help People Find The Best</p>
						<button class="btn btn-reg " id="SignupBtn2">SIGN UP</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Registration area -->
	<!-- City Selection -->
	<div class="city-select" ng-if="!main.loggedIn">
		<select class="form-control">
			<option selected>Lahore</option>
			<option>Karachi</option>
			<option>Islamabad</option>
			<option>Rawalpindi</option>
			<option>Multan</option>
			<option>Murree</option>
			<option>Faisalabad</option>
		</select>
	</div>
	<!-- /City Selection -->

	<!-- Top Businesses -->
	<div id="top-bzns"  ng-controller="AllBusinessesController as business" ng-if="!main.loggedIn">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<section>
						<ul class="nav nav-pills nav-stacked"  id="myTabs">
						  <li class="active" role="presentation" data-toggle="tab"><a href="#busi1"  >Food</a></li>
						  <li role="presentation" ><a href="busi2">Real Estate</a></li>
						  <li role="presentation" ><a href="busi3">Clothes</a></li>
						  <li role="presentation" ><a href="busi2">Real Estate</a></li>
						  <li role="presentation" ><a href="busi3">Clothes</a></li>
						  <li role="presentation" ><a href="busi2">Real Estate</a></li>
						  <li role="presentation" ><a href="busi3">Clothes</a></li>
						  <li role="presentation" ><a href="busi2">Real Estate</a></li>
						  <li role="presentation" ><a href="busi3">Clothes</a></li>

						</ul>
	
					
				</div>
				<div class="col-md-10"  >
					<div class="panel-group active" id="busi1" role="tablist" aria-multiselectable="true" ng-repeat="each in business.businesses | reverse">
					  <div class="panel panel-default bzns-panel" >
					    <div class="panel-heading" role="tab">
					      <h4 class="panel-title">
					        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					          <img src="app/views/assets/img/dummy/shaukat-khanam.jpg" class="bzns-profile img-circle">
					          <h3>{{each.bizName}} <small>{{each.bizAddress}}</smal
					          	\></h3>
					          <img class="pull-left stars" src="app/views/assets/img/dummy/stars.png">
					          <span>4/5 <span>100,435,909 Reviews</span></span>
					          <p>
					          	{{each.description}}
					          </p>
					        </a>
					      </h4>
					    </div>

					    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					      
					    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					      <div class="panel-body" ng-repeat="cmnts in info.reviews">
								
					      <p>{{cmnts.Comment}}</p>
					      <input id="stars_Id" class="rating" data-min="0" data-max="5" data-step="0.1">  
					      
					      </div>
					    </div>
					  </div>






					</div>
					
					  
					</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- /Top Businesses -->

<div class="container" ng-if="main.loggedIn">
  <div class="jumbotron">
    <h1>Welcome To Your Profile{{ main.user.username }}</h1> 
    <p>From Here You can upload and manage your Business Profile.</p> 
  </div> 
</div>
<div class="row" ng-if="main.loggedIn">

	<div class="col-md-3">


	</div>

	<div class="col-md-4" ng-controller="businessController as business">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">Write Something on your mind</div>

				<div class="panel-body">
				<form ng-submit="business.createBusiness()">
				<input class="form-control input-lg" type="text" ng-model="business.businessData.description" placeholder=".....">

				</form>
				</div>
			</div>

			<div class="panel panel-success">
				<div class="panel-heading">Your Posts</div>
				<div class="panel-body" ng-repeat="each in business.businesses | reverse">
					<p>{{ each.description }}</p>
				</div>
			</div>

		</div>
	</div>


	<div class="col-md-3">


	</div>


</div>





<!--//Businesses Retreiving Checking-->

<div class="row" ng-if="!main.loggedIn">

	<div class="col-md-3">


	</div>

	<div class="col-md-4" ng-controller="AllBusinessesController as business">
		<div class="row">

			<div class="panel panel-success">
				<div class="panel-heading">Your Posts</div>
				<div class="panel-body" ng-repeat="each in business.businesses">
					<p>{{ each.description }}</p>
				</div>
			</div>

		</div>
	</div>


	<div class="col-md-3">


	</div>


</div>





















<!--profile management-->

<hr>
<div class="container" ng-if="main.loggedIn" >
	<div class="row">
  		<div class="col-sm-10"><h1>{{ main.user.username }}</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              
          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span> 2.13.2014</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Last seen</strong></span> Yesterday</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Real name</strong></span> Joseph Doe</li>
            
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a href="http://bootply.com">bootply.com</a></div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
          </ul> 
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
          
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home" data-toggle="tab">Your businesses</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">Profile Details</a></li>
          </ul>
              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>



                      <th>#</th>
                      <th>Business Name</th>
                    </tr>



                  </thead>
                  <tbody id="items" ng-controller="businessController as business">
                      
					
					
                    <tr ng-repeat="each in business.businesses | reverse">	
                      <td>{{$index}}</td>
                      <td>{{each.bizName}}</td>
                      <td><button>Edit</button></td>
                      <td><button>Details</button></td>
                      <td><button>Delete</button></td>
                    </tr>
                    
                  </tbody>
                </table>
                <hr>
                <div class="row">
                  <div class="col-md-4 col-md-offset-4 text-center">
                  	<ul class="pagination" id="myPager"></ul>
                  </div>
                </div>
              </div><!--/table-resp-->
              
              <hr>
              
              <h4>Recent Activity</h4>
              
              <div class="table-responsive">
                <table class="table table-hover">
                  
                  <tbody>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 1:00 - Jeff Manzi liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:23 - Mark Friendo liked and shared your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Today, 12:20 - You posted a new blog entry title "Why social media is".</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> Yesterday - Karen P. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Philip W. liked your post.</td>
                    </tr>
                    <tr>
                      <td><i class="pull-right fa fa-edit"></i> 2 Days Ago - Jeff Manzi liked your post.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">
               
               <h2></h2>
               
               <ul class="list-group">
                  <li class="list-group-item text-muted">Inbox</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Here is your a link to the latest summary report from the..</a> 2.13.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Hi Joe, There has been a request on your account since that was..</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Nullam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Thllam sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Wesm sapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">For therepien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Also we, havesapien massaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  <li class="list-group-item text-right"><a href="#" class="pull-left">Swedish chef is assaortor. A lobortis vitae, condimentum justo...</a> 2.11.2014</li>
                  
                </ul> 
               
             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">
            		
               	
                  <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="first_name"><h4>First name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Last name</h4></label>
                              <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="phone"><h4>Phone</h4></label>
                              <input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
                          </div>
                      </div>
          
                      <div class="form-group">
                          <div class="col-xs-6">
                             <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Location</h4></label>
                              <input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              </div>
               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->



